.chart-content{
  overflow-x: scroll;
  width: 100%;
}

table.calender {
  display: table;
  width: auto;
  border-collapse: collapse;
  table-layout: fixed;  

  th,
  td {
    box-sizing: border-box;
    border: solid 1px #333;
  }

  th{
    font-size: 10px;
  }
  .today{
    background-color: #ffda82;
  }
  th.task{
    min-width: 150px;
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 10;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: -1px;
      width: 100%;
      height: 100%;
      border-left: 1px solid #000;
      border-right: 1px solid #000;
      background-color: #fff;
      z-index: -1;
    }
  }

  th.day {
    min-width: 20px;
    width: 20x;
    height: 20px;
  }

  td.day {
    height: 30px;
    position: relative;
  }

  td.select-now::after{
    content: '';
    display: block;
    width: 100%;
    height: 10px;
    background-color: #239b21;
    opacity: 0.5;
  }

  .sun {
    background-color: #ffbaba;
    color: #ff4a4a;
  }

  .sat{
    background-color: #bebfff;
    color: #5c5ff8;
  }

  .is-progress::after{
    content: '';
    display: block;
    width: 100%;
    height: 10px;
    background-color: #239b21;
  }
}