@use './variables' as *;
@use './Mixin.scss' as *;


.label{
  width: 100%;
  
  p{
    font-size: 12px;
    color: #444;
  }

  input[type=text]{
    font-size: 16px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #444;
    border-radius: 3px;
  }
}