@use './variables' as *;
@use './Mixin.scss' as *;


.label {
  display: block;
  width: 100%;
  margin-bottom: 10px;

  p {
    font-size: 12px;
    color: #444;
    margin-bottom: 3px;

    &.valid-error {
      color: #f15757
    }
  }

  input[type=text] {
    font-size: 16px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #444;
    border-radius: 3px;
  }
}

.btn-area {
  padding: 10px 5px 0 5px;
}

.btn {
  padding: 5px 10px;
  border-radius: 3px;
  border: none;

  &.btn_primary {
    background-color: $primary-color;
    color: white;
  }

  &.btn_blue {
    background-color: #559cf3;
  }
}