.wrapper{
  width: 100%;
  box-sizing: 100%;
}

.content{
  min-height: 100vh;
  display: flex;
  box-sizing: border-box;
}

.main{
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  padding: 15px;
  box-sizing: border-box;
}