@use './variables' as *;
@use './Mixin.scss' as *;

.loading{
  &-area{
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    padding: 20px;
    width: 500px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #555;
    box-sizing: border-box;
  }

  &-spinner{
    width: 50px;
    height: 50px;
    margin: 20px auto;
    border-radius: 50%;
    border: solid 5px #fff;
    border-left-color: #1ca2e5;
    animation: spin 1s linear infinite;
  }
  
  &-message{
    text-align: center;
  }
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}