@use './variables' as *;
@use './Mixin.scss' as *;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000, $alpha: 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  &-area{
    background-color: #fff;
    margin: auto;
    padding: 20px;
    min-width: 300px;
    max-width: 600px;
    min-height: 100px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #555;
    box-sizing: border-box;
    position: relative;
  }

  .title{
    text-align: center;
  }

  .close-btn{
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

