@use './variables' as *;
@use './Mixin.scss' as *;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000, $alpha: 0.5);

   
}