@use './variables' as *;
@use './Mixin.scss' as *;

.sidebar{
  &-area{
    background-color: $secondary-color;
    box-sizing: border-box;
    width: 20%;
    min-height: 100vh;
    padding: 15px;
    position: relative;
    transition: all 0.5s;

    // モバイルでは非表示にする
    @include resposive(mobile){
      display: none;
    }
    
    &.close{
      width:28px;
      transition: all 0.5s;
    }
  }
}

.btn-toggle{
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid #000;
  background-color: #fff;
  position: absolute;
  right: -15px;
  top: 20px;
  &:hover{
    cursor: pointer;
    color: #957200;
  }
}